* {
    font-family: 'Poppins', sans-serif;
}

.topbar {
    width: 110%;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    justify-content: space-around;
    height: 60px;
    background-color: #0d3e82;
    padding-top: 20px;
    margin: -8px auto 0 0;
    left: -20px;
    position: relative;
}

#logo img{
    float: left;  
    width: 130px;
    height: 130px;
    margin-top: -45px;
    margin-left: -150px;
}

.search input{
    width: 400px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: rgb(255, 255, 255, .5);
    color: #fff;
    padding-left: 30px;
    font-size: 16px;
}

.search ::placeholder {
    color: #fff;
    font-size: 16px;
    text-align: left;
}

.search button {
    float: right;
    width: 40px;
    height: 40px;
    background: none;
    color: #fff;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding-right: 20px;
    font-size: 30px;
}

.profile img {
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 50%;
    margin-top: -12px;
    display: inline-block;
}

.sidenav {
    height: 100%;
    background-color: #0d3e82;
    background-size: cover;
    color: #fff;
    width: 250px;
    position: absolute;
    margin-top: -40px;
    margin-left: -8px;
}

.sidenav ul {
    list-style: none;
    font-size: 16px;
}

.sidemenu {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #fff;
    height: 20px;
    margin-left: -40px;
    border-radius: 5px;
}

.sidemenu a {
    text-decoration: none;
    color: #fff;
}

.sidemenu img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}
.sidemenu li {
    text-align: center;
    padding-top: 5px;
    font-weight: 500;
}

.selected {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid #fff;
    height: 20px;
    margin-left: -40px;
    border-radius: 5px;
    background-color: #fff;
}

.selected a {
    text-decoration: none;
    color: #0d3e82;
}

.selected img {
    width: 30px;
    height: 30px;
    padding-right: 20px;
}
.selected li {
    text-align: center;
    padding-top: 5px;
    font-weight: 800;
}

.overview {
    display: block;
    margin: 0px 0 50px 150px;
}

.overview h1 {
    margin-left: 150px;
    font-size: 36px;
}

#entries {
    width: 90%;
    border-collapse: collapse;
    margin-left: 150px;
    padding-right: 20px;
}

#entries td, #entries th{
    border: 1px solid #ddd;
    padding: 10px;
    padding-left: 50px;
}

#entries tr:nth-child(even){
    background-color: #f2f2f2;
}

#entries tr:hover {
    background-color: #ddd;
}

#entries th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0d3e82;
  color: #fff;
}

.add-new button {
    background-color: #0d3e82;
    width: 80px;
    height: 80px;
    float: right;
    color: #fff;
    border: none;
    border-radius: 50%;
    position: fixed;
    bottom: 5vw;
    right: 5vw;
    display: block !important;
    z-index: 99999;
    font-size: 45px;
    cursor: pointer;
}
